body {
    padding: 0;
    margin: 0;
    background-image: url(./src/data/img/background.jpg);
    background-size: cover;
    font-family: 'Comfortaa', cursive;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.background_blur {
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(41, 41, 41, 0.6);
    z-index: 8;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    background-color: rgba(145, 213, 224, .7);
    padding-right: 43px;
    padding-left: 43px;
}

.switch {
    display: flex;
    font-size: 25px;
    color: #513216;
    margin-top: 25px;
    margin-left: 10px;
}

.switch h3 {
    margin: 0px;
    line-height: 40px;
    padding-right: 10px;
    width: 86px;
}

.switch_input {
    position: relative;
    width: 80px;
    height: 40px;
    appearance: none;
    background: #1c8dc5;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}

.switch_input:hover {
    cursor: pointer;
}

.switch_input:checked {
    background: #4b8e0a;
}

.switch_input:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #ddf2f5;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: all 0.3s linear;
}

.switch_input:checked:before {
    left: 40px;
}

/*burger*/
/* .burger {
    display: block;
    margin-top: 20px;
    background-color: transparent;
    border: none;
    z-index: 100;
    cursor: pointer;
    padding: 0;
    transition: all 0.3s linear;
    text-decoration: none;
    border: 0px;
    background-image: url(./src/data/img/burger.jpeg);
    background-size: cover;
    height: 50px;
    width: 50px;
} */

/* .burger img {
    height: 40px;
    width: 50px;
} */

.nav {
    position: fixed;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    background: rgba(145, 213, 224, .9);
    border-radius: 10px;
    padding-top: 0px;
    padding-left: 0px;
    transition: transform .5s, visibility .5s;
    will-change: transform;
    padding-top: 85px;
    z-index: 10;
}

.header_link {
    font-size: 25px;
    text-decoration: none;
    padding: 0;
    padding-top: 10px;
    line-height: 140%;
    color: #ddf2f5;
    padding: 10px;
    background-color: #1c8dc5;
    border-radius: 20px;
    width: 80%;
    margin-left: 22px;
    margin-top: 10px;
    transition: all 0.3s linear;

}

.header_link:hover {
    background-color: #ddf2f5;
    color: #1c8dc5;
    cursor: pointer;
}

.header.open .burger_logo {
    transform: translateX(-100%);
    visibility: visible;
}

.header.open .nav {
    transform: translateX(-100%);
    visibility: visible;
}


/**/

.headline {
    font-family: 'Pacifico', cursive;
    font-size: 55px;
    color: #1c8dc5;
    text-shadow: 1px 0 1px #ddf2f5,
        0 1px 1px #ddf2f5,
        -1px 0 1px #ddf2f5,
        0 -1px 1px #ddf2f5;
    margin: 0px;
    margin-left: -140px;
}


/*start button*/
.header_category {
    height: 60px;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 20px auto;
}

.header_category h2 {
    font-size: 45px;
    font-weight: 800;
    color: #1c8dc5;
    text-shadow: 2px 0 2px #ddf2f5,
        0 2px 2px #ddf2f5,
        -2px 0 2px #ddf2f5,
        0 -2px 2px #ddf2f5;
    margin: 0;
}

.start_button {
    cursor: pointer;
    text-decoration: none;
    height: 60px;
    width: 160px;
    color: #ddf2f5;
    background-color: #1c8dc5;
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
    border-radius: 30px;
    border: none;
    transition: all 0.3s linear;

    /*margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
}

.start_button:hover {
    background-color: #4b8e0a;
}

/**/

.main {
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px 30px;
}

.words_card {
    width: 240px;
    height: 287px;
    background-color: #ddf2f5;
    border: 2px solid #513216;
    border-radius: 20px;
    text-align: center;
    color: #513216;
    font-size: 25px;
    transition: transform, 0.3s, box-shadow, 0.5s;
}

.words_card:hover {
    transform: translateY(-10px);
    box-shadow: 5px 10px 10px 5px rgba(252, 252, 252, 0.6);
    transition: transform, 0.3s, box-shadow, 0.5s;
    cursor: pointer;
}

.word:hover {
    transform: translateY(0px);
    box-shadow: 5px 5px 5px 5px #1c8dc5;
    transition: transform, 0.3s, box-shadow, 0.5s;
    cursor: pointer;
}

.words_card img {
    margin-top: 20px;
    height: 200px;
    width: 200px;
}

.words_card h4 {
    margin: 0;
}

.words_card h5 {
    color: #4b8e0a;
    margin: 10px;

}

.word img {
    height: 160px;
    width: 240px;
}

.word_transcript {
    display: flex;
    justify-content: space-between;
    padding: 30px 15px;
}

.button_rotate {
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    background-image: url(./src/data/img/repeat.svg);
    background-size: cover;
    height: 37px;
    width: 30px;
    border: none;
}

.button_rotate:hover {
    animation-name: rotate;
    animation-duration: .5s;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/*rotate card*/

.front,
.back {
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}

.front {
    transform: perspective(600px) rotateY(0deg);
}

.back {
    transform: perspective(600px) rotateY(180deg);
}

.word_active:hover>.front {
    transform: perspective(600px) rotateY(-180deg);
}

.word_active:hover>.back {
    transform: perspective(600px) rotateY(0deg);
}


/* Крестик */

.burger {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 100;
    cursor: pointer;
    top: 20px;
}

.burger span {
    display: block;
    position: absolute;
    width: 50px;
    height: 8px;
    border-radius: 10px;
    background-color: #1c8dc5;
    transition: background-color .3s, opacity .3s, transform .5s;
    will-change: transform;
}

.burger:hover span {
    background-color: #ddf2f5;
}

.burger span:nth-child(1) {
    transform: translateY(-15px);
}

.burger span:nth-child(3) {
    transform: translateY(15px);
}

.header.open .burger span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .burger span:nth-child(2) {
    opacity: 0;
}

.header.open .burger span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}


.remove_translation button{
    display: none;
}

.remove_translation h4{
    display: none;
}

/*statictics*/

.no-grid{
   display: block;
}

.stat_table{
    background-color: #1c8dc5;
    margin: auto; 
    text-align: center;
    border-radius: 5px;
    color: #513216;
    font-size: 25px;
}

.stat_table th{
    background-color: rgba(145, 213, 224, .4);
    padding: 10px;
    border-radius: 5px;
}

.stat_table td{
    background-color: rgba(145, 213, 224, .7);
    padding: 10px;
    border-radius: 5px;
}

.stat_table tr:hover{
    background-color: #ddf2f5;
}

.cont_btn{
    margin: 20px auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
}


.btn_reset{
    cursor: pointer;
    text-decoration: none;
    height: 60px;
    width: 200px;
    color: #ddf2f5;
    background-color: #1c8dc5;
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
    border-radius: 30px;
    border: none;
    transition: all 0.3s linear;
}

.btn_diff_words{
    cursor: pointer;
    text-decoration: none;
    height: 60px;
    width: 200px;
    color: #ddf2f5;
    background-color: #1c8dc5;
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
    border-radius: 30px;
    border: none;
    transition: all 0.3s linear;
}

.btn_reset:hover {
    background-color: #4b8e0a;
}

.btn_diff_words:hover {
    background-color: #4b8e0a;
}


@media (min-width: 768px) and (max-width: 1279px) {
    .header {
        padding-right: 20px;
        padding-left: 20px;
    }

    .headline {
        margin-left: -60px;
    }

    .main {
        width: 80%;
        margin: 20px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px 30px;
    }

    .words_card {
        margin: 0 auto;
    }

    .no-grid{
        display: block;
     }

     .stat_table{
        font-size: 15px;
    }
    
    .stat_table th{
        padding: 5px;
    }
    
    .stat_table td{
        padding: 5px;
    }
    
    .btn_reset{
        height: 50px;
        font-size: 20px;
        margin-left: 20px;
    }
    
    .btn_diff_words{
        height: 50px;
        font-size: 20px;
    }
}

@media (max-width: 767px) {

    .header {
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 30px;
    }

    .headline {
        display: none;
    }

    .header_category {
        height: 90px;
        flex-direction: column;
        width: 75%;
        margin: 10px auto;
        align-items: center;
    }

    .header_category h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .main {
        width: 80%;
        margin: 20px auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px 30px;
    }

    .words_card {
        margin: 0 auto;
    }

    .stat_table{
        font-size: 7px;
    }
    
    .stat_table th{
        padding: 0px;
    }
    
    .stat_table td{
        padding: 0px;
    }
    
    .cont_btn{
        margin: 0px auto;
        justify-content: space-between;
    }
    
    
    .btn_reset{
        height: 50px;
        width: 100%;
        font-size: 20px;
        margin-left: 20px;
    }
    
    .btn_diff_words{
        height: 50px;
        width: 100%;
        font-size: 20px;
    }
    
}